@import '../../scss/variables.scss';

// The name of the item
.itemTitle {
  composes: destinyHeader from '../dim-ui/common.m.scss';

  font-size: 19px;
  flex: 1;
  overflow: hidden;
  color: #fff;
  text-decoration: none;

  :global(a) {
    color: #fff;
    text-decoration: none;
  }

  :global(.sheet) & {
    margin-right: 38px;
  }
}

// The container for the title and type/rarity
.titleContainer {
  padding: 8px 10px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  color: #fff;

  :global(.is-Common) & {
    color: #000;

    :global(a),
    :global(select),
    .itemTitle,
    .itemTitle :global(a) {
      color: #000;
    }
  }

  :global(.is-Common) & {
    background-color: $common;
  }
  :global(.is-Uncommon) & {
    background-color: $uncommon;
  }
  :global(.is-Rare) & {
    background-color: $rare;
  }
  :global(.is-Legendary) & {
    background-color: $legendary;
  }
  :global(.is-Exotic) & {
    background-color: $exotic;
  }
}

.masterwork {
  background-image: url('../../images/masterworkHeader.png');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: top center;
  :global(.is-Exotic) & {
    background-image: url('../../images/exoticMasterworkHeader.png');
  }
  :global(.is-Legendary) & .itemTitle {
    text-shadow: 0 0 3px black;
  }
  :global(.is-Exotic) & .itemTitle {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
}

// The text under the name of the item (type, rarity)
.subTitle {
  composes: flexRow from '../dim-ui/common.m.scss';

  > * {
    &:first-child {
      flex: 1;
      opacity: 0.8;
    }
    &:last-child {
      span {
        opacity: 0.4;
      }
      :global(.app-icon) {
        margin-left: 4px;
      }
    }
  }
}

// The entire item header, including the colored part and the area underneath
.itemHeader {
  overflow: hidden;
}

// Dark section under the situation
.subSection {
  padding: 8px 10px;
  border-bottom: 1px solid #444;
}

// The bar that shows element, power, and ammo types
.powerInfo {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
}

.powerElement {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

// Element icon
.element {
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: top;
  background-size: contain;
}

.arcIcon {
  composes: powerElement;
  color: $arc;

  .element {
    background-image: url(https://www.bungie.net/img/destiny_content/damage_types/destiny2/arc.png);
  }
}

.voidIcon {
  composes: powerElement;
  color: $void;

  .element {
    background-image: url(https://www.bungie.net/img/destiny_content/damage_types/destiny2/void.png);
    filter: brightness(200%);
  }
}

.solarIcon {
  composes: powerElement;
  color: $solar;

  .element {
    background-image: url(https://www.bungie.net/img/destiny_content/damage_types/destiny2/thermal.png);
  }
}

// Ammo type section
.ammo {
  composes: flexRow from '../dim-ui/common.m.scss';
  align-items: center;
  border-left: 1px solid #444;
  margin-left: 8px;
  padding-left: 8px;
  text-transform: uppercase;
  font-size: 14px;
}

.ammoIcon {
  $ammo-height: 22px;
  display: inline-block;
  background-size: (1.4 * $ammo-height) $ammo-height;
  height: $ammo-height + 4px;
  width: (1.4 * $ammo-height) + 4px;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.ammoIcon,
.element {
  margin-right: 4px;
}

.primaryAmmo {
  composes: ammoIcon;
  background-image: url('../../../destiny-icons/general/ammo_primary.svg');
}
.specialAmmo {
  composes: ammoIcon;
  background-image: url('../../../destiny-icons/general/ammo_special.svg');
}
.heavyAmmo {
  composes: ammoIcon;
  background-image: url('../../../destiny-icons//general/ammo_heavy.svg');
}

.requiredLevel {
  opacity: 0.8;
  margin-bottom: 4px;
}

.extraStuff {
  margin-left: 8px;
  padding-left: 8px;
  text-align: right;
  flex: 1;

  :global(.rating-icon) {
    font-size: 20px !important;
    vertical-align: text-bottom;
  }
}

.primaryStatName {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 4px;
  font-weight: normal;
  color: white;
}
